[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=X-XFCE-Helper
X-XFCE-Category=TerminalEmulator
Name=foot
Icon=foot
X-XFCE-Binaries=foot
X-XFCE-Commands=foot
X-XFCE-CommandsWithParameter=foot %s
